body {
  background-color: #181818;
  color: #e0e0e0;
}

.container h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.accordion-button {
  background-color: #202020;
  color: #e0e0e0;
  border: none;
}

.accordion-button:not(.collapsed) {
  color: #1e90ff;
  background-color: #303030;
}

.accordion-body {
  background-color: #000f65;
}

.accordion-body .row {
  margin-bottom: -15px;
}

.accordion-body iframe {
  border-radius: 0.375rem;
}

/* Ajuste para layout de 3 colunas e rolagem vertical */
.scroll-container {
  max-height: 80vh; /* Ajuste a altura máxima conforme necessário */
  overflow-y: auto; /* Permite rolagem vertical */
  overflow-x: hidden; /* Remove rolagem horizontal */
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espaço entre as linhas de vídeos */
}

.scroll-content {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte */
  gap: 1rem; /* Espaço entre as colunas de vídeos */
}

.scroll-content > div {
  flex: 1 1 calc(33.333% - 1rem); /* 3 colunas, com espaçamento */
  box-sizing: border-box; /* Inclui padding e border no cálculo do tamanho */
}

iframe {
  width: 100%;
  height: 200px; /* Defina uma altura fixa para todos os vídeos */
  border: none;
  border-radius: 0.375rem;
}

/* Estiliza o scrollbar para uma aparência mais agradável */
.scroll-container::-webkit-scrollbar {
  width: 12px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #343a40;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}

.scroll-indicator {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #000f65;
  padding: 10px;
  border-radius: 20px;
  display: none;
}

.scroll-indicator span {
  font-size: 1rem;
}
